@keyframes rotate {
    from {
        opacity: 1;
        filter: hue-rotate(360deg);
        transform: scale(0.3);
    }

    to {
        filter: hue-rotate(0deg);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes rotating {
    from {
        filter: hue-rotate(360deg);
        transform: scale(1);
        opacity: 0;
    }

    to {
        filter: hue-rotate(0deg);
        transform: scale(0.3);
        opacity: 1;
    }
}

@keyframes rotated {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}
